@font-face {
    font-family: 'Pixellari';
    src: url('./fonts/Pixellari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PressStart2P-1';
    src: url('./fonts/PressStart2P-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Frame-Border{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right:0.5rem;
  overflow:auto;
  border-radius: 0.5rem;
  border: 5px solid rgb(117,117,117);
}

.home{
    position: absolute;
    font-family: 'PressStart2P-1';
    font-size: 2rem;
    top:0rem;
    left:0.6rem;
}

.Border{
    position:absolute;
    top:3rem;
    width: 100vw;
    border: solid rgb(117,117,117) 0.2rem
}

.ConnectButton{
    position: absolute;
    top:0.2rem;
    right:0.2rem;
}

.Card{
    display: flex;
    position: absolute;
    top:4rem;
    left:2rem;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

